.paginator {
    margin: 10px;
    position: relative;
    top: 0;
    left: 30%;
}
.pageNumber {
    padding: 2px 5px;
    border: 1px solid grey;
}
.pageNumber:hover{
    cursor: pointer;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}