.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
}

.dialogsItems {
    padding: 5px;
    text-decoration: none;
}

.messages {
    padding: 5px;
}

.messages .message {

}
.textarea{
    margin-top: 5px;
    position: relative;
}
.send{
    position: absolute;
    padding: 5px 15px;
    margin-left: 9em;
}
