.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    padding: 15px;
}

.dialogsItems {
    padding: 5px;
}
.dialogsItems .dialogItem{
    text-decoration: none;
    padding-bottom: 5px;
}

.messages {
    padding: 5px;
}

.messages .message {
    padding-bottom: 5px;
}

.textarea {
    margin-top: 5px;
    position: relative;
}

.send {
    position: absolute;
    padding: 5px 15px;
    margin-left: 9em;
}